[Unit]
Description=Intel Arc B60 GPU Exporter
After=network.target

[Service]
EnvironmentFile=-/etc/default/xe-exporter
ExecStart=/usr/local/bin/xe-exporter $XE_EXPORTER_OPTS
Restart=always
User=root
# Root is required to read from debugfs

[Install]
WantedBy=multi-user.target
